@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* ==================
 *
 *google fonts 
 *
 *===================*/

/* ==================
 *
 *var section 
 *
 *===================*/
/*****  font size  ******/
/*****  Colors  ******/
/* ==================
 *
 *  Reset Class Css
 *
 *===================*/
body {
  line-height: 24px;
  font-size: 14px;
  color: #80d6a3;
  font-weight: 400;
  color: #444;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
@media screen and (min-width: 680px) {
 
  p{
  text-align: center;
  
  font-size: calc(4em + 4vw);
}
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
/* ==================
 *
 *  Global Class 
 *
 *===================*/
.btn {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 12px 25px;
  border-radius: 0;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent;
}
.title {
  text-align: center;
  padding-bottom: 70px;
}
.title h2 {
  color: #ffffff;
  font-size: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.title h2:before {
    content: '';
    width: 40px;
    height: 2px;
    background: #80d6a3;
    position: absolute;
    top: 12px;
    left: -60px;
}
.title h2:after {
    content: '';
    width: 40px;
    height: 2px;
    background: #80d6a3;
    position: absolute;
    top: 12px;
    right: -60px;
}
.title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #817C7C;
}
#mixed-items .mix {
  display: none;
}
/* animation keyfrem */
@-webkit-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@-moz-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@-o-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
/* ==================
 *
 *  section Class 
 *
 *===================*/
/* header style */
header {
  padding: 20px 0;
  background: #fff;
}
header .navbar {
  
  margin-bottom: 0;
}
.is-sticky #navigation {
  background: #fff;
  z-index: 1000;
  transition: 0.3s;
  width: 100%;
  padding: 0;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 70px;
}
.navbar-brand {
  padding: 0;
  height: auto;
}
.navbar-toggle {
  border-color: #333;
  transition: 0.3s;
}
.navbar-toggle .icon-bar {
  background: #333;
  transition: 0.3s;
}
.navbar-toggle:hover {
  border-color: #80d6a3;
}
.navbar-toggle:hover .icon-bar {
  background: #80d6a3;
}
.menu a {
  color: #333;
  transition: 0.3s;
  position: relative;
  font-size: 16px;
}
.menu a:before {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 12px;
  width: 0;
  height: 1px;
  background: #80d6a3;
  transition: 0.3s;
}
.menu a:hover {
  background: transparent;
  color: #80d6a3;
}

.menu .active a {
  color: #80d6a3;
}

.menu .active a:before{
  width: 25px;
}

.menu a:hover:before {
  width: 25px;
}
/*moon movement*/

@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700);



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-image:url(http://solarscroller.rhettforbes.com/img/stars.jpg);
  
  background-color:#000;
  
  -webkit-animation: sky 82s linear infinite;
  -moz-animation: sky 82s linear infinite;
  -ms-animation: sky 82s linear infinite;
  -o-animation: sky 82s linear infinite;
  animation: sky 82s linear infinite;}
  
.planet {
  z-index:10;
  height:auto;
  overflow:hidden;
  position: relative;
  top: 50%;
  left: 50%;

  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;

  -webkit-background-size:auto 100%;
  -moz-background-size:auto 100%;
  -o-background-size:auto 100%;
  background-size:auto 100%;

  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);

  -webkit-animation:spin linear infinite;
  -moz-animation:spin linear infinite;
  -ms-animation:spin linear infinite;
  -o-animation:spin linear infinite;
  animation:spin linear infinite;}    
  .planet:before {  
    content:"";
    display:block;
    padding-top:100%;}    
        
.surface {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  right:0;
  pointer-events:none;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
  box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.75);

  -webkit-background-size:auto 100%;
  -moz-background-size:auto 100%;
  -o-background-size:auto 100%;
  background-size:auto 100%;

  -webkit-animation:spin linear infinite;
  -moz-animation:spin linear infinite;
  -ms-animation:spin linear infinite;
  -o-animation:spin linear infinite;
  animation:spin linear infinite;}

  .sunlight {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    right:0;
    z-index:11;

    background:-moz-linear-gradient(right,rgba(0, 0, 0, 1) 0%, rgba(1, 0, 31, 0) 50%);  
    background:-webkit-linear-gradient(right,rgba(0, 0, 0, 1) 0%, rgba(1, 0, 31, 0) 50%);
    background:-o-linear-gradient(right,rgba(0, 0, 0, 1) 0%, rgba(1, 0, 31, 0) 50%);
    background:linear-gradient(right,rgba(0, 0, 0, 1) 0%, rgba(1, 0, 31, 0) 50%);

    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    background-size:100% 100%}  
  
.moon-orbit {
  width:100%;
  height:100%;
  display:block;
  margin:auto;
  position:absolute;
  pointer-events:none;
  top:0;
  left:0;
  bottom:0;
  right:0;
  overflow:hidden;  
  z-index:12;

  -webkit-animation:oz linear infinite;
  -moz-animation:oz linear infinite;
  -ms-animation:oz linear infinite;
  -o-animation:oz linear infinite;
  animation:oz linear infinite;}
    
.moon {
  position:relative;
  top:50%;
  z-index:20;
  height:auto;
  overflow:hidden;
  pointer-events:auto;  
  left:0;
  min-height:2px;
  min-width:2px;

  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  box-shadow:inset 0 0 1px 0 rgba(0,0,0,0.75), 20px 0px 10px 0 rgba(0,0,0,0.75);

  -webkit-background-size:auto 100%;
  -moz-background-size:auto 100%;
  -o-background-size:auto 100%;
  background-size:auto 100%;

  -webkit-transform:translate(0%,-50%);
  -moz-transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);
  -o-transform:translate(0%,-50%);
  transform:translate(0%,-50%);
  
  -webkit-animation:orbit linear infinite;
  -moz-animation:orbit linear infinite;
  -ms-animation:orbit linear infinite;
  -o-animation:orbit linear infinite;
  animation:orbit linear infinite;}

  .moon:before {
    content: "";
    display: block;
    padding-top: 100%; 
    width:100%;
    height:100%;
    background:-moz-linear-gradient(right,rgba(0, 0, 0, 1) 0%, rgba(1, 0, 31, 0) 50%);  
    background:-webkit-linear-gradient(right,rgba(0, 0, 0, 1) 0%, rgba(1, 0, 31, 0) 50%);
    background:-o-linear-gradient(right,rgba(0, 0, 0, 1) 0%, rgba(1, 0, 31, 0) 50%);
    background:linear-gradient(right,rgba(0, 0, 0, 1) 0%, rgba(1, 0, 31, 0) 50%);}


/* ---------- EARTH ---------- */
#earth {
  width:15%;
  -webkit-animation:aurora 6s linear infinite;
  -moz-animation:aurora 6s linear infinite;
  -ms-animation:aurora 6s linear infinite;
  -o-animation:aurora 6s linear infinite;
  animation:aurora 6s linear infinite}
/* Planet */
#earth .surface {
  /* Texture */
  background-image:url(http://solarscroller.rhettforbes.com/css/../img/earth.jpg);
  /* Axis */
  -webkit-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  -o-transform:rotate(25deg);
  transform:rotate(25deg);
  /* One Day */
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -ms-animation-duration:3s;
  -o-animation-duration:3s;
  animation-duration:3s;}

/* ---------- THE MOON ---------- */  

#moon .moon, #moon.moon-orbit {
  -webkit-animation-duration:82s;
  -moz-animation-duration:82s;
  -ms-animation-duration:82s;
  -o-animation-duration:82s;
  animation-duration:82s;}
  #moon .moon {
    width:4.44104876673929%;
    background-image:url(http://solarscroller.rhettforbes.com/css/../img/moon.jpg);
    left:100%;}
  #moon.moon-orbit {
    -webkit-transform:rotate(5.16deg);
    -moz-transform:rotate(5.16deg);
    -ms-transform:rotate(5.16deg);
    -o-transform:rotate(5.16deg);
    transform:rotate(5.16deg);}

@keyframes orbit{
  0% {left: 0%;  transform:scale(1, 1) }
  25% {transform:scale(1.5, 1.5);}
  50% {left: 100%;  transform:scale(1, 1)}
  75% {transform:scale(0.5, 0.5);}
  100% {left:0; transform:scale(1, 1)}
}
@-webkit-keyframes orbit{
  0% {left: 0%;  transform:scale(1, 1) }
  25% {left:50%; transform:scale(1.5, 1.5);}
  50% {left: 100%;  transform:scale(1, 1)}
  75% {left:50%; transform:scale(0.5, 0.5);}
  100% {left:0; transform:scale(1, 1)}
}

@keyframes aurora{
  0% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0);}
  20% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0.5);}
  40% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0);}
  60% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0.5);}
  80% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0);}
  100% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0.5);}
}
@-webkit-keyframes aurora{
  0% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0);}
  20% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0.5);}
  40% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0);}
  60% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0.5);}
  80% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0);}
  100% {box-shadow: 0px -2px 4px 0px rgba(0, 255, 0,0.5);}
}
@keyframes spin{
  from {background-position:0 0;}
  to {background-position:-100% 0;}
}
@-webkit-keyframes spin{
  from {background-position:0 0;}
  to {background-position:-100% 0;}
}
@keyframes oz{
  0% {z-index: 12;}
  25% {z-index: 12;}
  50% {z-index: 12;}
  100% {z-index: 5;}
}
@-webkit-keyframes oz{
  0% {z-index: 5;}
  25% {z-index: 26;}
  50% {z-index: 5;}
  100% {z-index: 5;}
}
@keyframes sky {
 50% {background-position: 600px 0px;}
 100% {background-position: 1200px 0px;}
}
@-moz-keyframes sky {
 50% {background-position: 600px 0px;}
 100% {background-position: 1200px 0px;}
}
@-webkit-keyframes sky {
 50% {background-position: 600px 0px;}
 100% {background-position: 1200px 0px;}
}
/* =================
   Home page style
   ================= */
#banner {
  background: url('../img/images/galaxy.jpg');
  background-size: cover;
  padding: 250px 0;
  position: relative;
}
#banner:before {
  position: absolute;
  z-index: 99;
  background: rgba(0, 0, 0, 0.73);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}
#banner .block {
  position: relative;
  z-index: 999;
  color: #fff;
}
#banner .block h1 {
  padding-bottom: 25px;
  font-size: 55px;
  font-weight: 100;
  color: #80d6a3;
}
#banner .block h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
#banner .block .btn-learn {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 25px;
  margin: 0 7px;
  padding: 10px 22px;
  font-size: 14px;
  transition: 0.3s;
}
#banner .block .btn-learn:hover {
  border-color: #80d6a3;
  color: #80d6a3;
}
#banner .block .buttons {
  margin-top: 40px;
}
#banner .block .buttons a:first-child {
  margin-left: 0;
}
#banner .scrolldown {
  position: absolute;
  left: 50%;
  bottom: 18%;
}
#banner .scrolldown .scroll {
  border-radius: 100px;
  width: 25px;
  height: 45px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -15px;
  display: inline-block;
  border: 1px solid #fff;
  z-index: 99;
}
#banner .scrolldown .scroll:after {
  background: #fff;
  border-radius: 300px;
  width: 4px;
  height: 9px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  display: block;
  content: " ";
  -webkit-animation: wiggle 0.5s linear 0s infinite alternate;
  -moz-animation: wiggle 0.5s linear 0s infinite alternate;
  -o-animation: wiggle 0.5s linear 0s infinite alternate;
  animation: wiggle 0.5s linear 0s infinite alternate;
}
#features {
  padding: 100px 0 0;
}
#features .feature-block {
  padding-bottom: 35px;
}
#features .feature-block .icon-box {
  margin-bottom: 24px;
}
#features .feature-block .icon-box i {
  display: inline-block;
  line-height: 1;
  font-size: 60px;
  transition: 0.3s;
  color: #80d6a3;
}
#features .feature-block h4 {
  font-size: 20px;
  color: #333;
  position: relative;
  text-transform: none;
  margin-bottom: 10px;
  font-weight: 400;
}
#features .feature-block p {
  font-size: 15px;
  color: #888;
  line-height: 24px;
  font-weight: 300;
  margin-top: 20px;
  
}
#features .showcase-img {
  margin-top: 40px;
}
#counter {
  background: url(../img/counter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  padding: 100px 0;
}
#counter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.72);
}
#counter .title {
  position: relative;
}
#counter .title h2 ,#counter .title p {
  color: #fff;
}
#counter .block {
  margin-bottom: 20px;
}
#counter .block i {
  display: block;
  font-size: 40px;
  line-height: 1;
  padding-bottom: 20px;
  color: #80d6a3;
}
#counter .block span {
  line-height: 1;
  display: inline-block;
  color: #fff;
}
#counter .block .count-text {
  font-size: 36px;
}
#counter .block p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding-top: 20px;
}
#portfolio {
  padding: 100px 0;
}
#portfolio .block .recent-work-mixMenu {
  padding-bottom: 40px;
  text-align: center;
}
#portfolio .block .recent-work-mixMenu ul li {
  display: inline-block;
  padding: 0;
}
#portfolio .block .recent-work-mixMenu ul li button {
  background: none;
  border: 0;
  font-size: 15px;
  color: #474747;
  margin: 0 20px;
  transition: 0.2s;
  text-transform: uppercase;
}
#portfolio .block .recent-work-mixMenu ul li button:hover {
  color: #80d6a3;
}
#portfolio .block .recent-work-mixMenu ul li button:focus {
  outline: 0;
}
#portfolio .block .recent-work-mixMenu ul li .active {
  color: #80d6a3;
}
#portfolio .block .recent-work-pic ul li {
  margin-bottom: 30px;
  position: relative;
}
#portfolio .block .recent-work-pic ul li:hover .overlay {
  opacity: 1;
}
#portfolio .block .recent-work-pic ul li:hover .overlay i {
  top: 40%;
  opacity: 1;
}
#portfolio .block .recent-work-pic ul li:hover .overlay h3 {
  bottom: 50%;
  opacity: 1;
}
#portfolio .block .recent-work-pic ul li .overlay {
  position: absolute;
  top: 23px;
  left: 38px;
  bottom: 23px;
  right: 38px;
  background: rgba(128, 214, 163, 0.85);
  transition: 0.3s;
  text-align: center;
  opacity: 0;
}
#portfolio .block .recent-work-pic ul li .overlay h3,
#portfolio .block .recent-work-pic ul li .overlay i {
  color: #fff;
  
}
#portfolio .block .recent-work-pic ul li .overlay h3 {
  bottom: 30%;
  left: 50%;
  opacity: 0;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
  transition: 0.3s;
  position: absolute;
  transition-delay: 0.1s;
  transform: translateX(-50%);
}
#portfolio .block .recent-work-pic ul li .overlay i {
  top: 30%;
  opacity: 0;
  left: 50%;
  font-size: 50px;
  transition: 0.3s;
  transition-delay: 0s;
  position: absolute;
  transform: translate(-50%, 50%);
}
#portfolio .block .recent-work-pic ul li .overlay .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#play-video {
  padding: 105px 0;
  background: url("../img/new-latter.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#play-video:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 35, 34, 0.7);
}
#play-video .block {
  text-align: center;
}
#play-video .block h2 {
  color: #fff;
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
#play-video .block p {
  text-align: center;
  color: #dfdfdf;
  padding-bottom: 30px;
  font-family: 'Lora', serif;
  font-size: 15px;
  line-height: 22px;
  margin-top: 10px;
}
#play-video .block .button {
  position: relative;
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  background: #80d6a3;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  transition: all 300ms linear;
  font-size: 30px;
  margin-top: 10px;
}
#play-video .block .button:hover {
  color: #424242;
  border-color: red;
}
#html5-watermark {
  display: none !important;
}
#team {
  padding: 80px 0 180px;
}
#team .block {
  position: relative;
  overflow: hidden;
  border:3px solid transparent;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}
#team .block img {
  width: 100%;
  position: relative;
}
#founder p,h1,h2,h3{
  color: #ffffff;

}

#team .block:hover {
  border: 3px solid #80d6a3;

}
#team .block:hover .team-overlay {
  bottom: 0;
  opacity: 1;
}
#team .team-overlay {
  background: rgba(255, 255, 255, 0.95);
  color: #fff;
  text-align: center;
  padding: 48px 62px;
  position: absolute;
  bottom: -150px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  
  transition: 0.3s;
}
#team .team-overlay h3,
#team .team-overlay span {
  color: #333;
}
#team .team-overlay span {
  display: block;
  font-size: 13px;
  padding-top: 10px;
}
#team .team-overlay .icon {
  width: 38px;
  height: 38px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1;
  margin-top: 36px;
  margin-bottom: 25px;
  border-radius: 100%;
  display: inline-block;
  background: #80d6a3;
}
#team .team-overlay .icon i {
  font-size: 30px;
  color: #fff;
}
#team .team-overlay p {
  font-size: 14px;
  line-height: 23px;
  color: #707a8a;
  
}
#team .team-overlay .media {
  margin-top: 10px;
}
#team .team-overlay .media a {
  font-size: 12px;
  color: #fff;
  transition: 0.3s;
  margin: 0 10px;
}
#team .team-overlay .media a:hover {
  color: #80d6a3;
}
#contact-form {
  padding: 100px 0;
  
}
#contact-form form input,
#contact-form form textarea {
  padding: 24px 20px 0;
  border-color: #80d6a3;
  border-radius: 5px;
  font-size: 14px;
  color: #97a0af;
  box-shadow: none;
}
#contact-form form input {
  margin-bottom: 15px;
  padding: 24px 27px;
}
#contact-form form textarea {
  margin-bottom: 28px;
  min-height: 172px;
  resize: none;
}
#contact-form form button {
  float: right;
  color: #fff;
  font-size: 16px;
  padding: 17px 43px;
  background: #80d6a3;
  border-radius: 40px;
  font-weight: 600;
  border-color: transparent;
  transition: 0.3s;
}
#contact-form form button:hover {
  background: none;
  color: #80d6a3;
  border-color: #80d6a3;
}
#footer-top iframe {
  width: 100%;
  height: 385px;
  transform: translateZ(0px);
  background-color: #ffffff;
  border: 0;
}
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
/* ================ Home end ========================= */
/* =====================
   contact page style
   ===================== */
#global-header {
  background: url(../img/contact-slider-img.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0 90px;
  text-align: center;
  position: relative;
}
#global-header:before {
  position: absolute;
  z-index: 99;
  background: rgba(60, 59, 72, 0.69);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 1;
}
#global-header .block {
  position: relative;
  z-index: 10;
  color: #fff;
}
#global-header .block h1 {
  font-size: 50px;
  margin-top: 20px;
}
#global-header .block p {
  font-size: 15px;
  padding-top: 10px;
  font-family: 'Lora', serif;
}

/* ================ Contact end ========================= */
/* =====================
   Service page style
   ===================== */
#client-logo {
  padding: 0 0 100px;
  text-align: center;
}
#client-logo a {
  padding: 14px 24px;
  display: block;
}
#client-logo a img {
  transition: 0.3s;
  margin: 0 auto;
}
#client-logo a:hover img {
  transform: scale(1.2);
}
footer {
  background: #202322;
  padding: 42px 0 65px 0;
  text-align: center;
}
footer p {
  font-size: 14px;
  color: #fff;
  line-height: 1;
  padding-top: 26px;
}




